* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html {
  max-width: 1500px;
  margin: 0 auto;
}

.home {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header .............. */

/* laptop ........ */
.topnav_lap {
  display: none;
}

/* mobile nav ...... */

.topnav {
  padding: 5px 20px;
  margin: 5px auto;
  position: fixed;
}

.topnav .navigation {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 13px 20px ;
  width: 100%;
  left: 0;
  top: 0;
}

.navigation.sticky {
  z-index: -1;
  box-shadow: 1px 1px 5px rgb(218, 217, 217);
}

.topnav .navigation a {
  text-decoration: none;
  color: black;
}

.topnav .navigation .logo a {
  font-size: 1.5rem;
  font-weight: 550;
  color: rgb(60, 56, 56);
  z-index: 1;
}

.topnav .navigation .log_icon {
  display: flex;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
  z-index: 10001;
}

.topnav .navigation .login_btn {
  margin-right: 15px;
  font-size: .8rem;
}




/* navigation icon ........... */
.navigation .nav_icon {
  display: inline-block;
  cursor: pointer;
}

.nav_icon .bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.nav_icon.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

/* Fade out the second bar */
.nav_icon.change .bar2 {opacity: 0;}

/* Rotate last bar */
.nav_icon.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.active {
  background-color: white;
}



/* my nav ........ */
.topnav .myNav {
  position: fixed;
  top: -150%;
  right: 0;
  left: 0;
  background: white;
  text-align: center;
  transition: all .4s ease;
  margin: 0 auto;
  z-index: -1;
  align-items: center;
  height: 100vh;
}

.topnav .mynavOpen {
  top: 6%;
}

.topnav .mynavOpen a {
  display: block;
  padding-bottom: 1rem;
  font-size: 1rem;
}



/* language_choice ........... */
.topnav .myNav .language_choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 28px 65px;
}

.topnav .myNav .language {
  font-size: 1.1rem;
}

.topnav .myNav .flag_icon {
  display: flex;
  align-items: center;
}

.topnav .myNav img {
  width: 23px;
  height: 18px;
  margin-right: 8px;
}

.header .languages {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.topnav .myNav .languagesOpen {
  display: block;
  position: absolute;
}

/* navigation links ............ */
.topnav .myNav .nav_links {
  margin: 10px auto 10px ;
}

.topnav .myNav .nav_links a {
  margin: 8px auto 18px;
  text-decoration: none;
  color: black;
  padding: 0 0 10px;
}

.topnav .myNav .nav_links a:first-child{
  text-decoration: 2px underline black;
  padding:  10px;
}

.topnav .myNav .nav_links a:hover {
  text-decoration: 2px underline black;
  transition: 2s ;
}

.topnav .myNav .nav_btn {
  margin: 30% auto 0;
}

.topnav .myNav .nav_btn a {
  color: white;
  text-decoration: none;
  padding: 15px;
  background: rgb(67, 67, 214);
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}





/* body .............. */

.container1_2 {
  margin: 15px;
}


/* container1 ..................... */
.container1 {
  margin: 110px 0 0;
}

.container1 .free_resume h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.container1 .note {
  margin: 30px 0 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(116, 113, 113);
  word-spacing: .2rem;
}

.container1 .lap_btn {
  display: none;
}

.container1 .images_center{
  margin: 0 auto;
  max-width: 450px;
  align-items: center;
  justify-content: center;
}

.container1 .images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 380px; */
  margin: 0 auto;
  z-index: -1;
}

.container1 img[src="img/resume1.png"] {
  /* max-width: 380px; */
  width: 100%;
  /* height: 80vh; */
  border-radius: 2px;
  filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
}

.container1 img[src="img/resumepics1.png"] {
  width: 35%;
  min-width: 80px;
  position: absolute;
  left: -10px;
  border-radius: 8px;
  filter: drop-shadow(2px 0px 5px rgb(228, 227, 227));
}

.container1 .mobile_btn {
  margin: 65px 0;
  text-align: center;
}

.container1 .mobile_btn a {
  font-size: .9rem;
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  background: rgb(67, 67, 214);
  border-radius: 5px;
  letter-spacing: .1rem;
}

.container1 .mobile_btn p {
  font-size: .7rem;
  color: rgb(93, 90, 90);
  margin: 20px 0 0;
}


/* container2 ..................... */

.container2 h2 {
  font-size: 1.2rem;
}

.container2 .note {
  margin: 12px 0 50px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgb(116, 113, 113);
  word-spacing: .2rem;
}

.container2 .note a {
  font-size: 1rem;
  color: rgb(116, 113, 113);
  text-decoration: 1px underline rgb(116, 113, 113);
}


/* container3 ..................... */

.container3 {
  background: black;
  padding: 20px 15px;
  margin: 0 0 50px 0;
}

.container3 h1 {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  margin: 10px auto;
  padding: 40px 0;
}



/* container4 ..................... */


.container4 {
  margin: 30px 15px;
}

.container4 .header {
  margin: 85px 0 10px;
}

.container4 .header h1 {
  font-size: 2rem;
  line-height: 3.1rem;
  color: rgb(56, 56, 56);
  letter-spacing: .2px;
}

.container4 .header p {
  margin: 12px 0 80px;
}

.container4 .header p a {
  color: rgb(48, 47, 47);
  text-decoration: 1.7px underline;
  letter-spacing: 1.3px;
}

.container4 .template_centered {
  width: 100%;
  margin: 0 auto;
  max-width: 470px;
  align-items: center;
  justify-content: center;
}

.container4 .template {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto 22px;
  z-index: -1;
}

.container4 .bg_template img {
  width: 100%;
  height: 480px;
  margin: 0 auto;
  border-radius: 14px;
}

.container4 .img_template {
  position: absolute;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container4 .img_template img {
  width: 68%;
  display: flex;
  margin: 0 auto;
}

.container4 .template .rate {
  margin: 35px 0 0 0 ;
  text-align: center;
}

.container4 .template .rate p {
  margin: 10px 0 15px;
  font-size: .8rem;
  letter-spacing: .6px;
  font-weight: 750;
}

.container4 .template .rate p span {
  color: rgb(241, 115, 69);
  font-size: .9rem;
}

.container4 .template .rate p b {
  font-size: 1rem;
  margin: 0 5px;
}

.container4 .template .rate small {
  font-size: .6rem;
  margin: 15px 0 0 0;
  padding: 2px 6px;
  border-radius: 50px;
  letter-spacing: .5px;
  background: rgb(232, 232, 232);
}

.container4 .mobile_btn {
  margin: 65px 0 40px;
  text-align: center;
}

.container4 .mobile_btn a {
  font-size: .9rem;
  color: white;
  text-decoration: none;
  padding: 15px 18px;
  background: rgb(67, 67, 214);
  border-radius: 5px;
  letter-spacing: .1rem;
}



/* container5 ..................... */

.container5 {
  margin: 30px 13px 100px;
}

.container5 .build {
  display: flex;
  flex-wrap: wrap;
}

.container5 .build1 {
  max-width:550px;
  /* margin: 20px 0 0 10px; */
}

.container5 .build1 span {
  color: rgb(173, 5, 5);
  font-size: .8rem;
  letter-spacing: .2rem;
  font-weight: 700;
}

.container5 .build1 .header {
  margin: 80px auto 40px;
}

.container5 .build1 h1 {
  font-size: 1.9rem;
  margin: 20px auto 40px;
  color: rgb(47, 47, 47);
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: .1rem;
}

.container5 .build1 .messages p {
  padding: 18px;
  background-color: #f4f4f4;
  margin: 5px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container5 .build1 .messages .p1 {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.container5 .build1 .messages .p3 {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container5 .build1 span I {
  font-size: 2rem;
  color: rgb(255, 102, 0);
  margin: 0 0 0 15PX;
}

.container5 .build2 {
  margin: 120px auto 0;
  position: relative;
  z-index: -1;
}

.container5 .build2 .imagelist {
  margin: 20px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: fit-content;
}

.container5 .images_center{
  margin: 0 auto;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.container5 .build2 .images {
  max-width: 350px;
}


.container5 .build2 img[src="img/2-xlg-x1(1).png"] {
  width: 70%;
  height: 20%;
  filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
}

.container5 .build2 img[src="img/4-w187x2.jpg"] {
  width: 28%;
  height: 29%;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: -1px;
  margin-left: 10%;
  filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
}

.container5 .build2 .list {
  margin: 200px 0 0 60px;
  width: fit-content;
  text-align: left;
  position: absolute;
  padding: 8px 14px;
  background: white;
  filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
}

.container5 .build2 .list li {
  margin: 15px 30px;
  text-wrap: nowrap;
}


/* container6 ..................... */

.container6 {
  margin: 180px 0 10px;
}

.container6 .blackbg {
  background: black;
  color: white;
  padding: 30px 10px;
}

.container6 h1 {
  margin: 30px 0 0 0;
  padding: 10px 0;
  text-align: center;
  
}

.container6 .resumes {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.container6 .resumes .resume {
  width: 400px;
  margin: 20px 20px 0;
  max-width: 500px;
}

.container6 .resumes .bx {
  padding: 8px;
  border-radius: 15px;
  background: rgb(241, 174, 30);
  color: black;
  font-size: 2rem;
  margin: 20px 0 10px;
}

.container6 .resumes h3 {
  margin: 10px;
}

.container6 .resumes p {
  margin: 10px auto;
  padding: 10px 0;
  color: #7b7979;
  font-weight: 600;
  line-height: 1.5rem;
}



/* container7 ..................... */


.container7 {
  margin: 30px 13px 100px;
}

.container7 .services {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container7 h1 {
  margin: 30px 0 0 0;
  padding: 10px 0;
  max-width: 350px;
}

.container7 .services p {
  margin: 5px auto;
  padding: 10px 0;
  color: #7b7979;
  font-weight: 600;
  line-height: 1.3rem;
  max-width: 300px;
  font-size: .9rem;
}























































/* tablet size ....................................................................... */

@media(min-width:768px) {




  .container1 .free_resume {
    /* width: 600px; */
    margin: 150px 0 0;
  }

  .container1 .free_resume h1 {
    font-family: "basier circl", sans-serif;
    font-size: 52px; 
    line-height: 72px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .container1 .note {
    width: 85%;
    margin: 30px 0 45px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(116, 113, 113);
    word-spacing: .2rem;
  }

  .container1 .lap_btn {
    display: block;
    margin: 65px 0;
    width: fit-content;
  }
  
  .container1 .lap_btn a {
    font-size: .9rem;
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    background: rgb(67, 67, 214);
    border-radius: 5px;
    letter-spacing: .1rem;
  }
  
  .container1 .lap_btn p {
    font-size: .7rem;
    color: rgb(196, 191, 191);
    margin: 25px 0 0;
    text-align: center;
  }

  .container1 .images_center{
    padding: 10px 0 50px;
    margin: 0 auto;
    max-width: 500px;
  }

  .container1 .images {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 100px 0; */
    width: 100%;
    /* transform: translate(-10px 0) rotate(0,20deg); */
  }

  .container1 img[src="img/resume1.png"] {
    /* max-width: 380px; */
    width: 100%;
    /* height: 80vh; */
    border-radius: 2px;
    filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
  }

  .container1 img[src="img/resumepics1.png"] {
    width: 35%;
    position: absolute;
    left: -25px;
    border-radius: 8px;
    filter: drop-shadow(2px 0px 5px rgb(228, 227, 227));
  }

  .container1 .mobile_btn {
    display: none;
  }

  /* container2 ..................... */

  .container2 {
    margin: 10px;
    display: block;
  }

  .container2 h2 {
    font-size: 1.4rem;
    padding: 0 0 10px 0;
  }

  .container2 .notes {
    max-width: 680px;
    margin: 0 auto;
  }

  .container2 .note {
    margin: 12px 0 50px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(83, 82, 82); 
    word-spacing: .2rem;
  }

  .container2 .note a {
    font-size: 1rem;
    color: rgb(116, 113, 113);
    text-decoration: 1px underline rgb(116, 113, 113);
  }





}











/* laptop size ....................................................................... */

@media(min-width:1024px) {

  .topnav {
    display: none;
  }

  .topnav_lap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    background-color: white;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    left: 0;
    top: 0;
  }

  .topnav_lap.sticky {
    z-index: 1;
    box-shadow: 1px 1px 5px rgb(218, 217, 217);
  }

  .topnav_lap .log_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 50px;
  }

  .topnav_lap .log_icon .logo {
    margin: 0 0 0 20px;
  }

  .topnav_lap .log_icon .logo a {
    font-size: 2rem;
    text-decoration: none;
    margin: 8px 0 8px 8px;
    color: black;
  }

  .topnav_lap .myNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 8px;
    letter-spacing: .8px;
  }

  .topnav_lap .myNav a:first-child{
    text-decoration: 1px underline black;
    padding:  10px;
  }
  
  .topnav_lap .log_icon a {
    text-decoration: none;
    text-align: center;
    margin: 10px;
    font-size: .8rem;
    color: rgb(131, 129, 129);
    font-weight: 600;
    letter-spacing: .8px;
  }

  .topnav_lap .myNav a:hover {
    text-decoration: 1px underline black;
    transition: 2s ;
  }
  
  .topnav_lap .join {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 0;
  }

  .topnav_lap .join a {
    text-decoration: none;
    margin: 10px;
    font-size: .8rem;
    font-weight: 600;
    color: rgb(73, 73, 72);
    letter-spacing: .9px;
  }

  .topnav_lap .join .login_btn {
    padding: 10px;
    margin: 0 0 0 10px;
  }

  .topnav_lap .join .create_btn {
    background: rgb(238, 236, 236);
    padding: 8px;
    margin: 0 25px 0 5px;
    border-radius: 5px;
  }

  .topnav_lap .join .flag_icon{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .topnav_lap .join img {
    width: 23px;
    height: 16px;
  }

  .topnav_lap .join i {
    margin: 0 10px 0 5px;
    width: 8px;
    color: rgb(123, 118, 118);
  }



  /* container1 ..................... */
  .container1 {
    display: flex;
    justify-content: space-between;
    margin: 0 5% 0 5%;
  }

  .container1 .free_resume {
    width: 600px;
    margin: 150px 0 0;
  }

  .container1 .free_resume h1 {
    font-family: "basier circl", sans-serif;
    font-size: 52px;
    line-height: 72px;
    margin: 0;
    padding: 0;
    width: 104%;
  }

  .container1 .note {
    width: 85%;
    margin: 30px 0 45px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(116, 113, 113);
    word-spacing: .2rem;
  }

  .container1 .lap_btn {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .container1 .lap_btn a {
    font-size: .9rem;
    color: white;
    text-decoration: none;
    padding: 16px 25px;
    background: rgb(67, 67, 214);
    border-radius: 5px;
    letter-spacing: .1rem;
  }

  .container1 .lap_btn p {
    font-size: .8rem;
    color: rgb(184, 184, 184);
    margin: 0 30px;
  }

  .container1 .images_center{
    margin: 0 auto;
    max-width: 100%;
  }

  .container1 .images {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 100px 0 0 150px;
    width: 100%;
    /* transform: translate(-10px 0) rotate(0,20deg); */
  }

  .container1 img[src="img/resume1.png"] {
    max-width: 380px;
    width: 100%;
    /* height: 80vh; */
    border-radius: 2px;
    filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
  }

  .container1 img[src="img/resumepics1.png"] {
    width: 170px;
    position: absolute;
    left: -25px;
    border-radius: 8px;
    filter: drop-shadow(2px 0px 5px rgb(228, 227, 227));
  }

  .container1 .mobile_btn {
    display: none;
  }

  /* container2 ..................... */

  .container2 {
    margin: 5% 5% 10%;
    display: flex;
  }

  .container2 h2 {
    font-size: 1.2rem;
  }

  .container2 .notes {
    margin: 0 20px;
  }

  .container2 .note {
    margin: 20px 0 0 0;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(116, 113, 113);
    word-spacing: .2rem;
    max-width: 350px;
  }

  .container2 .note a {
    font-size: 1rem;
    color: rgb(116, 113, 113);
    text-decoration: 1px underline rgb(116, 113, 113);
  }





}








