* {
  padding: 0;
  margin: 0;
}

.home {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header .............. */
.topnav a {
  text-decoration: none;
}
.header .topnav .navigation1 {
  display: flex;
  justify-content: space-between;
}

.topnav .navigation1 .log_icon {
  display: flex;
}

/* navigation icon ........... */
.navigation1 .nav_icon {
  display: inline-block;
  cursor: pointer;
}

.nav_icon .bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.nav_icon.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

/* Fade out the second bar */
.nav_icon.change .bar2 {opacity: 0;}

/* Rotate last bar */
.nav_icon.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.active {
  background-color: #ccc;
}


/* visible nav ...... */
.myNav {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 0;
  background-color: rgb(205, 191, 191);
  overflow-y: hidden;
  transition: 0.5s;
}








