* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.home {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header .............. */

/* laptop ........ */
.topnav_lap {
  display: none;
}

/* mobile nav ...... */

.topnav {
  padding: 5px 20px;
  margin: 5px auto;
  position: fixed;
}

.topnav .navigation {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 13px 20px ;
  width: 100%;
  left: 0;
  top: 0;
}

.navigation.sticky {
  z-index: -1;
  box-shadow: 1px 1px 5px rgb(131, 121, 121);
}

.topnav .navigation a {
  text-decoration: none;
  color: black;
}

.topnav .navigation .logo a {
  font-size: 1.5rem;
  font-weight: 550;
  color: rgb(60, 56, 56);
  z-index: 1;
}

.topnav .navigation .log_icon {
  display: flex;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
  z-index: 10001;
}

.topnav .navigation .login_btn {
  margin-right: 15px;
  font-size: .8rem;
}




/* navigation icon ........... */
.navigation .nav_icon {
  display: inline-block;
  cursor: pointer;
}

.nav_icon .bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.nav_icon.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

/* Fade out the second bar */
.nav_icon.change .bar2 {opacity: 0;}

/* Rotate last bar */
.nav_icon.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.active {
  background-color: white;
}



/* my nav ........ */
.topnav .myNav {
  position: fixed;
  top: -150%;
  right: 0;
  left: 0;
  background: white;
  text-align: center;
  transition: all .4s ease;
  margin: 0 auto;
  z-index: -1;
  align-items: center;
  height: 100vh;
}

.topnav .mynavOpen {
  top: 6%;
}

.topnav .mynavOpen a {
  display: block;
  padding-bottom: 1rem;
  font-size: 1rem;
}



/* language_choice ........... */
.topnav .myNav .language_choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 28px 65px;
}

.topnav .myNav .language {
  font-size: 1.1rem;
}

.topnav .myNav .flag_icon {
  display: flex;
  align-items: center;
}

.topnav .myNav img {
  width: 23px;
  height: 18px;
  margin-right: 8px;
}

.topnav .myNav .languages {
  display: none;
}

.topnav .myNav .languagesOpen {
  display: block;
  position: absolute;
}

/* navigation links ............ */
.topnav .myNav .nav_links {
  margin: 10px auto 10px ;
}

.topnav .myNav .nav_links a {
  margin: 8px auto 18px;
  text-decoration: none;
  color: black;
  padding: 0 0 10px;
}

.topnav .myNav .nav_links a:first-child{
  text-decoration: 2px underline black;
  padding:  10px;
}

.topnav .myNav .nav_links a:hover {
  text-decoration: 2px underline black;
  transition: 2s ;
}

.topnav .myNav .nav_btn {
  margin: 30% auto 0;
}

.topnav .myNav .nav_btn a {
  color: white;
  text-decoration: none;
  padding: 15px;
  background: rgb(67, 67, 214);
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}





/* body .............. */

.container1_2 {
  margin: 15px;
}


/* container1 ..................... */
.container1 {
  margin: 110px 0 0;
}

.container1 .free_resume h1 {
  font-size: 2rem;
}

.container1 .note {
  margin: 30px 0 50px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgb(116, 113, 113);
  word-spacing: .2rem;
}

.container1 .lap_btn {
  display: none;
}

.container1 .images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.container1 img[src="img/resume1.png"] {
  max-width: 300px;
  width: 100%;
  border-radius: 2px;
  filter: drop-shadow(0px 0px 200px rgb(228, 227, 227));
}

.container1 img[src="img/resumepics1.png"] {
  width: 125px;
  position: absolute;
  left: -1px;
  border-radius: 8px;
}

.container1 .mobile_btn {
  margin: 65px 0;
  text-align: center;
}

.container1 .mobile_btn a {
  font-size: .9rem;
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  background: rgb(67, 67, 214);
  border-radius: 5px;
  letter-spacing: .1rem;
}

.container1 .mobile_btn p {
  font-size: .7rem;
  color: rgb(93, 90, 90);
  margin: 20px 0 0;
}


/* container2 ..................... */

.container2 h2 {
  font-size: 1.2rem;
}

.container2 .note {
  margin: 12px 0 50px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgb(116, 113, 113);
  word-spacing: .2rem;
}

.container2 .note a {
  font-size: 1rem;
  color: rgb(116, 113, 113);
  text-decoration: 1px underline rgb(116, 113, 113);
}


/* container3 ..................... */

.container3 {
  background: black;
  padding: 20px 15px 100px;
}

.container3 h1 {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  margin: 10px auto;
  padding: 10px 0;
}




















@media(min-width:550px) {

  .home {
    max-width: none;
  }

  .topnav {
    display: none;
  }

  .topnav_lap {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }

  .topnav_lap a {
    text-decoration: none;
  }

  .topnav_lap .log_icon {
    display: flex;
  }

  .topnav_lap .join {
    display: flex;
  }
  
  .topnav_lap .join img {
    width: 40px;
  }

}








