* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.home {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header .............. */

/* laptop ........ */
.topnav_lap {
  display: none;
}

/* mobile nav ...... */

.topnav {
  padding: 8px 0px;
  margin: 10px auto;
}


.topnav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 30px;
}
.topnav .navigation a {
  text-decoration: none;
  color: black;
}

.topnav .navigation .logo a {
  font-size: 1.5rem;
  font-weight: 550;
  color: rgb(60, 56, 56);
}

.topnav .navigation .log_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topnav .navigation .login_btn {
  margin-right: 10px;
}




/* navigation icon ........... */
.navigation .nav_icon {
  display: inline-block;
  cursor: pointer;
}

.nav_icon .bar1, .bar2, .bar3 {
  width: 21px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.nav_icon.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

/* Fade out the second bar */
.nav_icon.change .bar2 {opacity: 0;}

/* Rotate last bar */
.nav_icon.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.active {
  background-color: white;
}



/* my nav ........ */
.topnav .myNav {
  position: absolute;
  top: -100%;
  right: 0;
  left: 0;
  background: white;
  text-align: center;
  transition: all .4s ease;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
  scroll-behavior: unset;
}

.topnav .mynavOpen {
  top: 50px;
}

.topnav .mynavOpen a {
  display: block;
  padding-bottom: 1rem;
  font-size: 1rem;
}



/* language_choice ........... */
.topnav .myNav .language_choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 28px 55px;
}

.topnav .myNav .language {
  font-size: 1.1rem;
}

.topnav .myNav .flag_icon {
  display: flex;
  align-items: center;
}

.topnav .myNav img {
  width: 27px;
  height: 20px;
  margin-right: 8px;
}

.topnav .myNav .languages {
  display: none;
}

.topnav .myNav .languagesOpen {
  display: block;
  position: absolute;
}

/* navigation links ............ */
.topnav .myNav .nav_links a {
  margin: 4px auto 20px;
  text-decoration: none;
}

.topnav .myNav .nav_links:first-child{
  outline: black;
  text-decoration: underline rgb(201, 38, 38);
}


























@media(min-width:700px) {

  .home {
    max-width: none;
  }

  .topnav {
    display: none;
  }

  .topnav_lap {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }

  .topnav_lap a {
    text-decoration: none;
  }

  .topnav_lap .log_icon {
    display: flex;
  }

  .topnav_lap .join {
    display: flex;
  }
  
  .topnav_lap .join img {
    width: 40px;
  }

}








