* {
  padding: 0;
  margin: 0;
}

.home {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header .............. */

/* mobile nav ...... */
.topnav .myNav {
  display: flex;
  position: absolute;
  top: -100%;
  right: 0;
  left: 0;
  flex-direction: column;
  background: white;
  text-align: left;
  padding: 0 5%;
  transition: all .4s ease;
  align-items: center;
}

.topnav .mynavOpen {
  top: 4%;
}

.topnav .mynavOpen a {
  display: block;
  padding-bottom: 1rem;
  font-size: 1rem;
}

/* laptop ........ */
.topnav_lap {
  display: none;
}

.topnav a {
  text-decoration: none;
}

.topnav .navigation {
  display: flex;
  justify-content: space-between;
}

.topnav .navigation .log_icon {
  display: flex;
}


/* navigation icon ........... */
.navigation .nav_icon {
  display: inline-block;
  cursor: pointer;
}

.nav_icon .bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.nav_icon.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

/* Fade out the second bar */
.nav_icon.change .bar2 {opacity: 0;}

/* Rotate last bar */
.nav_icon.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.active {
  background-color: white;
}
























@media(min-width:700px) {

  .home {
    max-width: none;
  }

  .topnav {
    display: none;
  }

  .topnav_lap {
    display: flex;
    justify-content: space-between;
    padding: ;
    margin: 20px auto;
  }

  .topnav_lap a {
    text-decoration: none;
  }

  .topnav_lap .log_icon {
    display: flex;
  }

  .topnav_lap .join {
    display: flex;
  }




  .topnav_lap .join img {
    width: 40px;
  }

}








