* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.home {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header .............. */

/* laptop ........ */
.topnav_lap {
  display: none;
}

/* mobile nav ...... */

.topnav {
  padding: 5px 20px;
  margin: 5px auto;
  position: fixed;
}

.topnav .navigation {
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 13px 20px ;
  width: 100%;
  left: 0;
  top: 0;
}

.navigation.sticky {
  z-index: -1;
  box-shadow: 1px 1px 5px rgb(218, 217, 217);
}

.topnav .navigation a {
  text-decoration: none;
  color: black;
}

.topnav .navigation .logo a {
  font-size: 1.5rem;
  font-weight: 550;
  color: rgb(60, 56, 56);
  z-index: 1;
}

.topnav .navigation .log_icon {
  display: flex;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
  z-index: 10001;
}

.topnav .navigation .login_btn {
  margin-right: 15px;
  font-size: .8rem;
}




/* navigation icon ........... */
.navigation .nav_icon {
  display: inline-block;
  cursor: pointer;
}

.nav_icon .bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.nav_icon.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

/* Fade out the second bar */
.nav_icon.change .bar2 {opacity: 0;}

/* Rotate last bar */
.nav_icon.change .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.active {
  background-color: white;
}



/* my nav ........ */
.topnav .myNav {
  position: fixed;
  top: -150%;
  right: 0;
  left: 0;
  background: white;
  text-align: center;
  transition: all .4s ease;
  margin: 0 auto;
  z-index: -1;
  align-items: center;
  height: 100vh;
}

.topnav .mynavOpen {
  top: 6%;
}

.topnav .mynavOpen a {
  display: block;
  padding-bottom: 1rem;
  font-size: 1rem;
}



/* language_choice ........... */
.topnav .myNav .language_choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 28px 65px;
}

.topnav .myNav .language {
  font-size: 1.1rem;
}

.topnav .myNav .flag_icon {
  display: flex;
  align-items: center;
}

.topnav .myNav img {
  width: 23px;
  height: 18px;
  margin-right: 8px;
}

.header .languages {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.topnav .myNav .languagesOpen {
  display: block;
  position: absolute;
}

/* navigation links ............ */
.topnav .myNav .nav_links {
  margin: 10px auto 10px ;
}

.topnav .myNav .nav_links a {
  margin: 8px auto 18px;
  text-decoration: none;
  color: black;
  padding: 0 0 10px;
}

.topnav .myNav .nav_links a:first-child{
  text-decoration: 2px underline black;
  padding:  10px;
}

.topnav .myNav .nav_links a:hover {
  text-decoration: 2px underline black;
  transition: 2s ;
}

.topnav .myNav .nav_btn {
  margin: 30% auto 0;
}

.topnav .myNav .nav_btn a {
  color: white;
  text-decoration: none;
  padding: 15px;
  background: rgb(67, 67, 214);
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}





/* body .............. */

.container1_2 {
  margin: 15px;
}


/* container1 ..................... */
.container1 {
  margin: 110px 0 0;
}

.container1 .free_resume h1 {
  font-size: 2rem;
}

.container1 .note {
  margin: 30px 0 50px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgb(116, 113, 113);
  word-spacing: .2rem;
}

.container1 .lap_btn {
  display: none;
}

.container1 .images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.container1 img[src="img/resume1.png"] {
  max-width: 300px;
  width: 100%;
  border-radius: 2px;
  filter: drop-shadow(0px 0px 200px rgb(228, 227, 227));
}

.container1 img[src="img/resumepics1.png"] {
  width: 125px;
  position: absolute;
  left: -1px;
  border-radius: 8px;
}

.container1 .mobile_btn {
  margin: 65px 0;
  text-align: center;
}

.container1 .mobile_btn a {
  font-size: .9rem;
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  background: rgb(67, 67, 214);
  border-radius: 5px;
  letter-spacing: .1rem;
}

.container1 .mobile_btn p {
  font-size: .7rem;
  color: rgb(93, 90, 90);
  margin: 20px 0 0;
}


/* container2 ..................... */

.container2 h2 {
  font-size: 1.2rem;
}

.container2 .note {
  margin: 12px 0 50px;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgb(116, 113, 113);
  word-spacing: .2rem;
}

.container2 .note a {
  font-size: 1rem;
  color: rgb(116, 113, 113);
  text-decoration: 1px underline rgb(116, 113, 113);
}


/* container3 ..................... */

.container3 {
  background: black;
  padding: 20px 15px 100px;
}

.container3 h1 {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  margin: 10px auto;
  padding: 40px 0;
}




















@media(min-width:550px) {

  html {
    max-width: 1500px;
    margin: auto;
  }

  .home {
    min-width: 1500px;
    margin: 0 auto;
  }

  .topnav {
    display: none;
  }

  .topnav_lap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    background-color: white;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    left: 0;
    top: 0;
  }

  .topnav_lap.sticky {
    z-index: 1;
    box-shadow: 1px 1px 5px rgb(218, 217, 217);
  }

  .topnav_lap .log_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 50px;
  }

  .topnav_lap .log_icon .logo {
    margin: 0 0 0 20px;
  }

  .topnav_lap .log_icon .logo a {
    font-size: 2rem;
    text-decoration: none;
    margin: 8px 0 8px 8px;
    color: black;
  }

  .topnav_lap .myNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 8px;
    letter-spacing: .8px;
  }

  .topnav_lap .myNav a:first-child{
    text-decoration: 1px underline black;
    padding:  10px;
  }
  
  .topnav_lap .log_icon a {
    text-decoration: none;
    text-align: center;
    margin: 10px;
    font-size: .8rem;
    color: rgb(131, 129, 129);
    font-weight: 600;
    letter-spacing: .8px;
  }

  .topnav_lap .myNav a:hover {
    text-decoration: 1px underline black;
    transition: 2s ;
  }
  
  .topnav_lap .join {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 0;
  }

  .topnav_lap .join a {
    text-decoration: none;
    margin: 10px;
    font-size: .8rem;
    font-weight: 600;
    color: rgb(73, 73, 72);
    letter-spacing: .9px;
  }

  .topnav_lap .join .login_btn {
    padding: 10px;
    margin: 0 0 0 10px;
  }

  .topnav_lap .join .create_btn {
    background: rgb(238, 236, 236);
    padding: 8px;
    margin: 0 25px 0 5px;
    border-radius: 5px;
  }

  .topnav_lap .join .flag_icon{
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .topnav_lap .join img {
    width: 23px;
    height: 16px;
  }

  .topnav_lap .join i {
    margin: 0 10px 0 5px;
    width: 8px;
    color: rgb(123, 118, 118);
  }



  /* container1 ..................... */
  .container1 {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 63px;
  }

  .container1 .free_resume {
    width: 600px;
    margin: 150px 0 0;
  }

  .container1 .free_resume h1 {
    font-family: "basier circl", sans-serif;
    font-size: 52px;
    line-height: 72px;
    margin: 0;
    padding: 0;
    width: 104%;
  }

  .container1 .note {
    width: 85%;
    margin: 30px 0 45px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(116, 113, 113);
    word-spacing: .2rem;
  }

  .container1 .lap_btn {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .container1 .lap_btn a {
    font-size: .9rem;
    color: white;
    text-decoration: none;
    padding: 16px 25px;
    background: rgb(67, 67, 214);
    border-radius: 5px;
    letter-spacing: .1rem;
  }

  .container1 .lap_btn p {
    font-size: .8rem;
    color: rgb(184, 184, 184);
    margin: 0 30px;
  }

  .container1 .images {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 100px 0 0 150px;
    width: 45%;
    /* transform: translate(-10px 0) rotate(0,20deg); */
  }

  .container1 img[src="img/resume1.png"] {
    max-width: 380px;
    width: 100%;
    height: 80vh;
    border-radius: 2px;
    filter: drop-shadow(2px 5px 10px rgb(228, 227, 227));
  }

  .container1 img[src="img/resumepics1.png"] {
    width: 170px;
    position: absolute;
    left: -25px;
    border-radius: 8px;
    filter: drop-shadow(2px 0px 5px rgb(228, 227, 227));
  }

  .container1 .mobile_btn {
    display: none;
  }

}








